 * {
  	font-family: verdana;
  	font-size: 12px;
  }

h1 {
	font-size: 24px;
	padding: 0px;
	margin: 0px;

}
p {
	text-align: justify;
}
.label {
	width:200px;
}
#judulsurat {
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
}
#nomor_surat {
	font-weight: bold;
	font-size: 16px;
}

#logo {
	width: 200px
	height: 200px;
	float : left;
 }

 #header {
 	position: relative;
 	left: 4px;
 }

h1.judul {
	text-align:center;
	font-size:18px;
}

h4.judul2 {
	text-align:left;
	font-size:8px;
}

 .tabel {
 	border-collapse: collapse;
 	border-spacing: 1px;
 }

 .tabel th, .tabel td {
 	border: 1px solid #000;
 	padding: 3px;
 	font-family: verdana; 
 	font-size : 10px;
 }

.tabel th {
	font-weight: bold;
	padding :  10px 5px;
}

fieldset {
	border:#000 solid 1px;
}

 .laporan {
 	border-collapse: collapse;
 	border-spacing: 1px;
 }

.laporan th {
	font-weight: bold;
	padding :  10px 5px;
}

 .laporan th, .laporan td {
 	 
 	border:1px solid #000;
 }
 .laporan td {
 	padding: 5px;
 }

 h2 {
 	font-size: 16px;
 }