<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="agungshiro" />
    <link href="style.css" rel="stylesheet" media="screen" />
    <script src="js/jquery-1.5.1.min.js" language="javascript" type="text/javascript"></script>
	<title>Untitled 2</title>
    <script language="javascript" `>
        $(document).ready(function(){
           $('a.link').css('display','block');
           $('a.link').click(function(){
                window.open($(this).attr("href"),'popup','width=816,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); 
                return false;
           }) ;
        });
    </script>
</head>

<body>
<ol>
<li><a class="link" href="catatan_kepolisian.html">Catatan Kepolisian</a></li>
<li><a class="link" href="belum_nikah.html">Belum Nikah</a></li>
<li><a class="link" href="tidak_mampu.html">S.Ket Tidak Mampu</a></li>
<li><a class="link" href="miskin.html">Ket. Miskin</a></li>
<li><a class="link" href="janda.html">S.Ket Janda</a></li>
<li><a class="link" href="keterangan.html">S.Keterangan</a></li>
<li><a class="link" href="keterangan2.html">S.Keterangan Domisili</a></li>
<li><a class="link" href="bepergian.html">S.Ket Bepergian</a></li>
<li><a class="link" href="pindah.html">S.Ket Pindah</a></li>
<li><a class="link" href="walap.html">S.Ket Walap</a></li>
<li><a class="link" href="usaha.html">S.Ijin Usaha</a></li>
<li><a class="link" href="kredit.html">S.Ket Kredit</a></li>
<li><a class="link" href="lahir.html">S.Ket Kelahiran</a></li>
<li><a class="link" href="lampiran_lahir.html">S.Lampiran Kelahiran</a></li>
<li><a class="link" href="mati.html">S.Ket Kematian</a></li>
<li><a class="link" href="sim.html">S.Permohonan SIM</a></li>
<li><a class="link" href="rekomendasi.html">S.Rekomendasi</a></li>
<li><a class="link" href="kehilangan.html">S. Ket. Kehilangan</a></li>
<li><a class="link" href="potong_kayu.html">S. Ijin Memotong Kayu</a></li>
<li><a class="link" href="potong_kayu2.html">S. Ijin Memotong Kayu 2</a></li>
<li><a class="link" href="keramaian.html">S. Ijin Keramaian</a></li>
<li><a class="link" href="perahu.html">S. Ijin Pas Perahu</a></li>
<li><a class="link" href="ijin_usaha.html">S. Ijin Usaha 2</a></li>
<li><a class="link" href="domisili_perusahaan.html">S. Domisili Perusahaan 1</a></li>
<li><a class="link" href="domisili_perusahaan2.html">S. Domisili Perusahaan 2</a></li>
<li><a class="link" href="domisili_yayasan.html">S. Domisili Yayasan</a></li>
<li><a class="link" href="jaga_makam.html">S. Jaga Makam</a></li>
<li><a class="link" href="operasi.html">S. Ket. Operasi </a></li>
<li><a class="link" href="kutipan.html">Kutipan Buku C</a></li>
<li><a class="link" href="ahli_waris.html">S.Ket Ahli Waris</a></li>
<li><a class="link" href="kubur.html">S.Ket Penguburan</a></li>
<li><a class="link" href="ket_kematian.html">S.Ket Kematian 2</a></li>
<li><a class="link" href="biodata.html">Biodata WNI</a></li>
</ol>
</body>
</html>