<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="agungshiro" />
	<link href="style.css" rel="stylesheet" media="screen" />
    <link href="print.css" rel="stylesheet" media="print" />
    <title>Gapoktan</title>
</head>

<body class="surat potrait">
<div class="wrap-potrait">
    <!-- HEADER SECTION -->
    <div class="header-wrap">
        <div class="logo-wrap">
            <div class="logo"><img src="images/logo.jpg" width="90px" /></div>
        </div>
        <div class="head-text">
            <h2 class="upper-case">Pemerintah kabupaten banyuwangi</h2>
            <h2 class="upper-case">Kecamatan kalipuro</h2>
            <h1 class="upper-case">Kantor kepala desa ketapang</h1>
            <h2>Jl. Gatot Subroto Nomor 88 Telepon 422165</h2>
            <h2>Ketapang 68451</h2>
        </div>
        <div class="logo-wrap">
            <!--- NO LOGO -->
        </div>
        <div class="clear"></div>
    </div>
    <hr class="thick" />
    <hr class="thin"/>
    <!-- END OF HEADER SECTION -->
    
    <div class="body wrap">
        <!-- JUDUL DAN NOMOR SURAT -->
        <div class="no-surat-wrap">
            <div class="nama-surat">
                <h3>Surat keterangan</h3>
            </div>
            <div class="kode">
                <span class="code" style="border-top: solid black 1px;">
                    Nomor Reg. : 470 / …...... /………/ 429.405.03 / 2010
                </span>
            </div>
        </div>
        <!-- KONTEN IDENTITAS-->
        <div class="content">
            <ol type="1">
                <li>Dasar :
                    <ol type="a" class="sub">
                        <li><span class="list-text">Instruksi Menteri dalam Negeri tanggal, 22 Agustus 1981 Nomor 32 tahun 1981</span></li>
                        <li><span class="list-text">Surat Komando Operasi Pemilu Keamanan dan Ketertiban Daerah Jawa Timur Satgas Seraning daerah tanggal, 12 Desember 1985 Nomor : SK/76/Satganingda/XII/1985 ( Ref. Surat Keputusan Kop. PANGKOPKAMTIBDA Nomor : Skop 01/KOPKAM/1/1980 tanggal, 03 Januari 1980 ).</span></li>
                    </ol>
                </li>
                <li>Setelah diadakan penelitian dan pengamanan berdasarkan data-data dan ketentuan tersebut diatasmenerangkan bahwa :
                    <ol type="1" class="sub">
                        <li><span class="label">Nama</span>:<span class="field">Agung Wahyudiono</span></li>
                        <li><span class="label">Tempat/Tgl Lahir</span>:<span class="field">Pati</span></li>
                        <li><span class="label">Jenis Kelamin</span>:<span class="field">field</span></li>
                        <li><span class="label">Agama</span>:<span class="field">field</span></li>
                        <li><span class="label">Kewarganegaraan</span>:<span class="field">field</span></li>
                        <li><span class="label">Nomor KTP</span>:<span class="field">field</span></li>
                        <li><span class="label">Status Perkawinan</span>:<span class="field">field</span></li>
                        <li><span class="label">Pekerjaan</span>:<span class="field">field</span></li>
                        <li><span class="label">Tempat Tinggal</span><div style="float:left">:</div>
                            <div class="field">RT RW Dusun
                            <br />Desa Ketapang, Kecamatan Kalipuro
                            <br />Kabupaten Banyuwangi
                            </div>
                        </li>
                    </ol>
                    <div class="clear"></div>
                    Sampai dengan saat surat keterangan ini dikeluarkan, orang tersebut dinyatakan tidak terdaftar / terdaftar dalam OT/WALAP di Desa Ketapang, Kecamatan Kalipuro, Kabupaten Banyuwangi ( Kartu TIK Model A/Mendagri, 32/1981 ).
                </li>
                <li>Surat keterangan ini dikeluarkan akan dipergunakan untuk :<br /><br /><hr /><br /><hr /></li>
                <li>Demikian untuk menjadikan periksa adanya</li>
            </ol>
        </div>
        <!-- KONTEN FOOTER TANDA TANGAN lurah 1 -->
        <div class="content">
            <div class="ttd-single-wrap">
                <div class="tgl-surat">Dikerluarkan di : Ketapang <br />Pada Tanggal : ...................</div>
                <div class="jabatan">Kepala desa ketapang</div>
                <div class="nama-lurah">Slamet Utomo</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>